// 整体框架
@import '../publicCss.scss';

// 整体框架
#container {
    .home {
        flex-direction: column;
        @extend .pa-l-15,
        .pa-r-15;

        .left {
            margin-right: 0 !important;
        }
    }
}

// 页脚
#footer{
    flex-direction: column;
}

// 文章列表首页
#mainList {
    .card-out {
        flex-direction: column;

        .card-image {
            img {
                width: 100%;
                height: 240px;
                object-fit: fill;
            }
        }
    }
    .card-des{
        padding: 0 20px;
    }
}

