// #app {
//     background-color: lightpink;
// }

#container {
    padding: 0px;
    margin: 0px;

    .header-image {
        padding: 0px;
        margin-top: -60px;

        img {
            height: 40vh;
            width: 100%;
        }
    }

    .home {
        max-width: 1630px;
        width: 100%;
        margin: 0 auto;
        display: flex;

        .left {
            flex: 4;
            margin-right: 30px;
            width: 100%;
        }

        .right {
            flex: 1;
            width: 100%;
        }
    }
}

.el-header {
    padding: 0;
    z-index: 99;
}

.el-main {
    padding: 0;
}

.el-footer {
    padding: 0;
}