/* 布局 */
.page-main {
    height: 100vh;
    width: 100vw;
}

// 边距
.ma-10 {
    margin: .5rem;
}

// 左右布局
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    margin-left: -30%;
}

.right {
    margin-right: -30%;
}

// 弹性盒子
.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}